<%= simple_form_for(@video) do |f| %>
  <%= f.error_notification %>

  
    <div class="form-inputs">
     <%= f.input :name, input_html { class: 'form-control'} %>
    </div>
    <div class="form-inputs">
     <%= f.input :description, input_html { class: 'form-control'} %>
    </div>
    <div class="form-inputs">
     <%= f.input :thumb, input_html { class: 'form-control'} %>
    </div>
    <div class="form-inputs">
     <%= f.input :content, input_html { class: 'form-control'} %>
    </div>
    <div class="form-inputs">
     <%= f.input :comments, input_html { class: 'form-control'} %>
    </div>
    <div class="form-inputs">
     <%= f.input :tags, input_html { class: 'form-control'} %>
    </div>
    <div class="form-inputs">
     <%= f.input :ratings, input_html { class: 'form-control'} %>
    </div>
    <div class="form-inputs">
     <%= f.association :user, input_html { class: 'form-control'} %>
    </div>
 
  <div class="form-actions">
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>