<h1>Listing videos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Thumb</th>
      <th>Content</th>
      <th>Comments</th>
      <th>Tags</th>
      <th>Ratings</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.name %></td>
        <td><%= video.description %></td>
        <td><%= video.thumb %></td>
        <td><%= video.content %></td>
        <td><%= video.comments %></td>
        <td><%= video.tags %></td>
        <td><%= video.ratings %></td>
        <td><%= video.user %></td>
        <td><%= link_to 'Show', video %></td>
        <td><%= link_to 'Edit', edit_video_path(video) %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video', new_video_path %>
